.estadisticas-generales {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
}

.estadisticas-generales-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgb(189, 188, 188);
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.estadisticas-generales-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.estadisticas-generales-card img {
    width: 3rem;
}

.estadisticas-generales-card h3 {
    font-weight: 400;
    font-size: 1.6rem;
}

.selector-estadisticas {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem auto;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 10px;
}

.selector-estadisticas button {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
}

.selector-estadisticas button:focus {
    background-color: white;
    outline: none;
    border: none;
}